@model SocialPubOnline.Models.Utilizador

<h1>Denúnciar Utilizador @Html.ActionLink(Model.nome, "Perfil", new { id = Model.codigo_utilizador }, new { @style = "color: #337ab7" })</h1> <hr />

<div class="row" >
    <div class="col-md-8 col-md-offset-4">     
        <form role="form" method="post" action="/Home/DenunciarUtilizador/@Model.codigo_utilizador"><p></p>
            <div class="form-group" style="width: 300px">
                <textarea id="Denuncia" name="Denuncia" class="form-control input-group-sm" style="resize:none;" placeholder="Descreva as razões que o levam a querer denúnciar" required></textarea> <br />
            </div>

            <div class="form-group" style="width: 300px">
                <input id="Denunciar" name="Denunciar" type="submit" value="Submeter Denúncia" class="btn btn-primary btn-block"  />  
            </div>
        </form>      
    </div>
</div>
