
<h2>Recuperar Password</h2><hr />


<div class="row">
    <div class="col-md-8 col-md-offset-2">
        <form class="form-signin" method="post" action="/Home/RecuperarPassword">

            <label for="inputPassword">Insira o e-mail de utilizador:</label>
            <div class="form-group">
                <input type="email" name="Email" id="Email" class="form-control" required autofocus>
            </div>

            <div class="form-group">
                <input id="Button_RecuperarPassword" type="submit" value="Recuperar Password" class="btn btn-primary btn-block"/>
                <p class="text-danger"> @ViewBag.erro </p>
                <span style="font-style:italic">*Irá ser enviado um e-mail com uma nova password</span>
            </div>
        </form> 
    </div>
 </div>
